body{
background:#b6c9c9;
padding:0;
margin:0;
font-family:Arial;
}

.bigBox{
width:85%;
margin:auto;
background:#dbdbdb;
margin-top:45px;
padding:25px;
border-radius:28px;
}

h1{
font-size:33px;
font-weight:800;
margin-top:5px;
margin-bottom:25px;
}

label{
font-size:17px;
font-weight:600;
display:block;
margin-top:15px;
}

input, select{
padding:11px;
width:88%;
margin-top:6px;
border-radius:9px;
border:1px solid #777;
font-size:15px;
}

button{
margin-top:25px;
padding:12px 22px;
background:#4caf50;
color:white;
border:0;
border-radius:10px;
font-size:18px;
cursor:pointer;
}

button:active{
transform:scale(0.97);
}

#extra{
margin-top:20px;
}

#ok{
margin-top:25px;
font-size:21px;
font-weight:bold;
color:green;
}
